<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mio.plugin.shimtest">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="34" />
    <application android:label="FCL shim visual test" android:extractNativeLibs="true" android:debuggable="true">
        <activity android:name=".VisualTest" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
